* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.third-page {
  width: 100%;
  background-color: black;
}
.third-page .left {
  width: 400px;
  padding: 40px;
  margin: 40px;
  background-color: white;
}

.left .top {
  gap: 30px;
  display: flex;
}

.top {
  margin-left: -30px;
}
